# Emacs
.last-package-update-day
auto-save-list
backups
elpa/
*.elc
ido.last
projectile-bookmarks.eld
session.*
*.cache
transient/
recentf
*.log
eshell/
.lsp-session*
.mc-lists.el
tramp
meghanada/
.dap-breakpoints
